venv/
__pycache__/
dataset/
dataset_*/
!dataset_new/
!dataset_new/**
runs/
uploads/
my_farm_photos/
*.jpg
*.png
*.txt
firebase-key.json
.env
*.pt
.env*.local
!dataset_new/
!dataset_new/dataset.yaml
!runtime.txt